@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  font-family: "Baloo Chettan 2", cursive; }

body {
  background-color: rgba(253, 233, 208, 0.2);
  margin: 0;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden; }

.modal-div {
  display: none;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-content {
  font-family: "Baloo Chettan 2", cursive;
  display: block;
  padding: 40px;
  width: 82.5%;
  margin: auto;
  margin-top: 3%;
  height: 88%;
  background-color: white; }

.iframe-div {
  width: 100%;
  float: left;
  height: 28vw; }

#trailer-iframe {
  width: 60%;
  height: 100%; }

#description-div {
  padding: 20px;
  display: inline-block;
  width: 60%;
  height: 23%; }

#movie-info {
  width: 40%;
  float: right;
  height: 100%; }

table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid rgba(134, 134, 134, 0.65); }

td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid rgba(134, 134, 134, 0.65); }

.movie-props {
  text-align: left;
  padding-left: 30px; }

#modal-movie-title {
  font-size: 25px;
  font-weight: 200;
  text-align: center; }

.header-background {
  display: flex;
  width: 100%;
  height: 170px;
  background-size: cover;
  background: linear-gradient(90deg, rgba(254, 199, 234, 0) 0%, rgba(254, 199, 234, 0.2822303922) 85%, rgba(254, 192, 255, 0.5046393557) 100%); }

.header-background > div:first-child {
  width: 300px;
  background-image: url(../img/logo4.png);
  height: 100%;
  background-repeat: no-repeat;
  margin: 10px 0 0 8.3%; }

.menu-butt {
  width: 64px;
  z-index: 5;
  height: 64px;
  background-image: url(../img/menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px 8.3% 0 auto;
  cursor: pointer;
  display: none; }

.nav-wrap {
  display: flex;
  animation: fadeInDown 1s;
  margin-left: auto;
  margin-right: auto;
  width: 440px;
  text-align: center; }

.dropped-menu {
  position: fixed;
  right: 0;
  display: none;
  width: 200px;
  height: 100%;
  z-index: 10;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden; }

.dropped-menu-wrap {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center; }

.close-butt {
  background-image: url(../img/close.webp);
  opacity: 0.6;
  width: 32px;
  height: 32px;
  background-size: cover;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer; }

.dropped-menu-bar li {
  border-bottom: 1px solid black; }

.title {
  animation: fadeInDown 1s;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 40px;
  background-image: url(../img/header.jpg);
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 82.5%;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  user-select: none; }

.footer-info {
  margin-left: auto;
  margin-right: 10%;
  display: flex; }

@media (max-width: 900px) {
  .footer-info {
    display: none; }

  .menu-butt {
    display: block; }

  .nav-wrap {
    display: none; }

  .title:first-child {
    margin-top: 40px; } }
.nav-bar {
  list-style: none;
  display: -webkit-inline-box; }

.nav-bar li,
.dropped-menu-bar li {
  padding: 20px;
  font-size: 30px;
  font-family: "Baloo Chettan 2", cursive; }

.nav-bar li a,
.dropped-menu-bar li a {
  text-decoration: none;
  color: black;
  z-index: 1; }

.nav-bar li a::after,
.dropped-menu-bar li a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background: #f3bab4;
  border-radius: 3px;
  height: 3px;
  width: 0;
  transition: width 0.25s ease;
  -webkit-transition: width 0.25s ease; }

.nav-bar li a:hover::after,
.nav-bar li a:focus::after,
.dropped-menu-bar li a:hover::after,
.dropped-menu-bar li a:focus::after {
  width: 100%;
  left: 0;
  background: #f3bab4; }

.social-media {
  background-size: cover;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-left: 20px; }

.telegram {
  background-image: url(../img/telegram.png); }

.instagram {
  background-image: url(../img/isntagram.webp); }

.whatsapp {
  background-image: url(../img/whatsapp.png); }

.movies-div {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  animation: fadeInLeft 1s; }

@media (min-width: 1300px) {
  .movies-div {
    max-width: 1100px; }

  .cinema-block {
    max-width: 80%; }

  .cinema-info-div {
    width: 40%; }

  .cinema-tags-div {
    width: 35%; } }
@media (min-width: 1100px) and (max-width: 1299px) {
  .movies-div {
    max-width: 800px; }

  .cinema-block {
    max-width: 80%; }

  .cinema-info-div {
    width: 40%; }

  .cinema-tags-div {
    width: 35%; } }
@media (min-width: 900px) and (max-width: 1099px) {
  .movies-div {
    max-width: 600px; }

  .cinema-block {
    max-width: 90%; }

  .cinema-info-div {
    width: 40%; }

  .cinema-tags-div {
    width: 35%; } }
@media (max-width: 899px) {
  .movies-div {
    max-width: 450px; }

  .cinema-photo-div {
    display: none; }

  .cinema-info-div {
    width: 55%; }

  .cinema-tags-div {
    width: 45%; } }
.poster-div {
  margin-left: 150px; }

.poster {
  box-shadow: 30px -30px 0px rgba(200, 199, 199, 0.7);
  width: 247px;
  height: 397px; }

.poster-div:hover .poster {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: blur 0.3s linear;
  animation-fill-mode: forwards; }

.centered {
  text-align: center;
  position: absolute;
  font-size: 40px;
  font-family: "Baloo Chettan 2", cursive;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 250px;
  user-select: none;
  cursor: pointer; }

.map-wrap {
  margin-top: 20px;
  background-position: center;
  background-size: cover;
  background-image: url(../img/background.jpg); }

.map-div {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 630px; }

.slogan {
  padding-top: 30px;
  font-weight: 100;
  font-size: 40px;
  margin: 30px 0 30px 0;
  font-family: "Baloo Chettan 2", cursive;
  text-align: center;
  color: white; }

.map_container {
  margin-top: 60px;
  text-align: center; }

.map-region:hover {
  animation: regionFill 0.4s;
  animation-fill-mode: forwards; }

.map-region {
  fill: #fdde84;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.7; }

.marks-wrap {
  height: 0; }

.mark {
  background: url(../img/map-marker-icon.png) no-repeat center;
  background-size: cover;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 2; }

.mark:hover::after {
  content: attr(data-city);
  bottom: -25px;
  background-color: white;
  border-radius: 5px;
  font-size: 17px;
  line-height: 1;
  padding: 0 5px 0 5px;
  font-family: "Baloo Chettan 2", cursive;
  position: absolute;
  transform: translateX(-50%); }

#mark-kyiv {
  left: 260px;
  bottom: 410px; }

#mark-lviv {
  left: 20px;
  bottom: 420px; }

#mark-dnepr {
  left: 420px;
  bottom: 420px; }

#mark-vinnitsa {
  left: 200px;
  bottom: 510px; }

#mark-cherkasy {
  left: 310px;
  bottom: 540px; }

#mark-sumy {
  left: 370px;
  bottom: 730px; }

#mark-odessa {
  left: 250px;
  bottom: 640px; }

#mark-ternopil {
  left: 90px;
  bottom: 700px; }

#mark-kherson {
  left: 360px;
  bottom: 690px; }

#mark-donetsk {
  left: 540px;
  bottom: 870px; }

#mark-rivne {
  left: 120px;
  bottom: 1030px; }

.cinemas-wrap {
  font-family: "Baloo Chettan 2", cursive; }

.cinema-filter-div {
  height: 270px;
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.cinema-filter-div > div {
  width: 33.33%; }

#city-choose-div > div {
  text-align: center;
  padding-top: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 200px; }

#cities {
  background-color: #79a71d;
  width: 118px;
  border-radius: 5px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 0 5px 15px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex; }

#cities:hover {
  background-color: yellowgreen; }

#cities-options-div {
  top: 0;
  overflow-y: scroll;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  height: 0vh;
  z-index: 3;
  background-color: white;
  box-shadow: -2px -2px 5px rgba(143, 143, 143, 0.781); }

#cities-options-div > div {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(141, 141, 141, 0.692);
  background-color: white; }

#cities-options-div > div:hover {
  background-color: rgba(230, 230, 230, 0.808); }

#cinema-class-choose-div > div:nth-child(1) {
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto; }

#cinema-technology-choose-div > div:nth-child(1) {
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto; }

.cinema-class-tag {
  margin-top: 15px;
  text-align: center;
  background-color: #dedede;
  border-radius: 5px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 1px dashed black; }

.cinema-block {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #b9b9b9; }

.map {
  width: 620px;
  height: 450px; }

#movie-info > div {
  padding: 10px 20px 0 20px; }

#close-modal-butt {
  cursor: pointer;
  display: none; }

@media (max-width: 800px) {
  #description-div {
    display: none; }

  #close-modal-butt {
    display: block; }

  .modal-content {
    width: 87%;
    height: 91%;
    padding: 0px;
    margin-top: 32px; }

  #trailer-iframe {
    width: 100%;
    height: 200%; }

  .iframe-div {
    margin-left: auto;
    width: 80%;
    float: none;
    height: 130px;
    margin-right: auto; }

  #movie-info {
    display: contents;
    font-size: 14px; }

  #movie-info > div {
    padding: 0; } }
@media (max-width: 700px) {
  .map-div {
    max-width: 410px; }

  .map {
    width: 400px; }

  .mark {
    width: 30px;
    height: 30px; }

  #mark-kyiv {
    left: 175px;
    bottom: 338px; }

  #mark-lviv {
    left: 20px;
    bottom: 340px; }

  #mark-dnepr {
    left: 260px;
    bottom: 320px; }

  #mark-vinnitsa {
    left: 130px;
    bottom: 370px; }

  #mark-cherkasy {
    left: 190px;
    bottom: 390px; }

  #mark-sumy {
    left: 250px;
    bottom: 500px; }

  #mark-odessa {
    left: 170px;
    bottom: 420px; }

  #mark-ternopil {
    left: 66px;
    bottom: 480px; }

  #mark-kherson {
    left: 240px;
    bottom: 450px; }

  #mark-donetsk {
    left: 360px;
    bottom: 550px; }

  #mark-rivne {
    left: 85px;
    bottom: 650px; }

  .cinema-filter-div {
    width: 100%; } }
@media (max-width: 500px) {
  #city-choose-div > div {
    width: 100%; }

  .cinema-class-tag {
    width: 130px; }

  #cinema-class-choose-div > div:nth-child(1) {
    width: 130px; }

  #cinema-technology-choose-div > div:nth-child(1) {
    width: 130px; } }
.cinema-photo-div {
  border-radius: 5px;
  width: 280px;
  margin: 0 20px 0 20px;
  background-size: cover;
  background-color: blueviolet;
  height: 190px; }

.cinema-info-div {
  height: 100%; }

.cinema-info-div > div {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.cinema-info-div > div > p {
  margin-bottom: 15px;
  font-size: 18px; }

.cinema-info-div > div > p:first-child {
  margin-top: 10px;
  font-size: 25px; }

.cinema-tags-div {
  height: 100%; }

.cinema-tags-div > div {
  width: 90%;
  margin-top: 10px;
  flex-wrap: wrap;
  display: flex;
  margin-left: auto;
  margin-right: auto; }

.tags {
  padding: 5px;
  border-radius: 7px;
  font-size: 17px;
  margin: 10px;
  font-weight: 100;
  background-color: #dedede; }

#about-us {
  margin-top: 90px;
  margin-bottom: 30px; }

.about-us-wrap {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/background.jpg); }

.about-us-div {
  width: 80%;
  height: 500px;
  color: white;
  text-align: center;
  margin: auto; }

footer {
  display: flex;
  height: 80px;
  padding-top: 15px;
  padding-left: 20px;
  width: 100%;
  font-family: "Baloo Chettan 2", cursive;
  color: rgba(0, 0, 0, 0.726);
  background-color: #e2e1e1; }

.footer-contacts {
  margin-left: auto;
  margin-right: 5%; }

::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0); }

::-webkit-scrollbar-thumb {
  background: #79a71d; }

::-webkit-scrollbar-thumb:hover {
  background: yellowgreen; }

.show {
  display: flex; }

.unshow {
  display: none; }

.fadeInLeft {
  animation: fadeInLeft 0.7s forwards; }

@keyframes blur {
  10% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px); }
  100% {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px); } }
@keyframes regionFill {
  0% {
    fill: #fdde84; }
  100% {
    fill: #f39f47; } }
@keyframes slideUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0); } }
@keyframes slideDown {
  from {
    -webkit-transform: translate3d(0, -30%, 0);
    transform: translate3d(0, -30%, 0); }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeOutRight {
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); } }
@keyframes dropDown {
  from {
    height: 0; }
  to {
    height: 176px; } }
@keyframes dropDownOut {
  from {
    height: 100px; }
  to {
    height: 0; } }
@keyframes upDownRotate {
  0% {
    transform: rotateX(0deg); }
  100% {
    transform: rotateX(180deg); } }
@keyframes downUpRotate {
  0% {
    transform: rotateX(180deg); }
  100% {
    transform: rotateX(0deg); } }

/*# sourceMappingURL=style.css.map */
